<div class="social-links" aria-label="Мы в соцсетях">
    <a href="@SiteInfo.VkUrl" target="_blank" rel="noopener noreferrer" class="social-link social-link--vk" aria-label="ВКонтакте">
        <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M15.07 2H8.93C3.33 2 2 3.33 2 8.93v6.14C2 20.67 3.33 22 8.93 22h6.14c5.6 0 6.93-1.33 6.93-6.93V8.93C22 3.33 20.67 2 15.07 2zm3.08 14.27h-1.46c-.55 0-.72-.44-1.71-1.42-.86-.82-1.24-.93-1.46-.93-.3 0-.39.09-.39.5v1.3c0 .36-.12.58-1.08.58-1.59 0-3.35-.96-4.6-2.75-1.87-2.64-2.38-4.63-2.38-4.75 0-.21.09-.4.5-.4h1.46c.37 0 .51.17.65.57.71 2.05 1.9 3.84 2.39 3.84.18 0 .27-.09.27-.57V9.7c-.06-.99-.58-1.07-.58-1.45 0-.18.15-.36.39-.36h2.3c.31 0 .42.16.42.52v2.78c0 .31.14.42.23.42.18 0 .33-.11.66-.44 1.02-1.14 1.75-2.9 1.75-2.9.1-.21.27-.4.64-.4h1.46c.44 0 .54.23.44.52-.19.86-1.96 3.36-1.96 3.36-.15.25-.21.36 0 .65.15.21.64.62.97 1 .61.68 1.08 1.25 1.21 1.64.13.4-.07.6-.47.6z"/>
        </svg>
    </a>
    <a href="@SiteInfo.TelegramUrl" target="_blank" rel="noopener noreferrer" class="social-link social-link--telegram" aria-label="Telegram">
        <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M9.78 15.53 9.4 19.8c.55 0 .79-.24 1.08-.52l2.59-2.48 5.37 3.94c.99.55 1.69.26 1.96-.92l3.53-16.57h.01c.32-1.48-.53-2.06-1.5-1.7L2.1 9.74c-1.45.57-1.43 1.38-.25 1.75l4.98 1.55L18.9 6.3c.66-.44 1.26-.2.77.24"/>
        </svg>
    </a>
</div>
