<div class="events-empty reveal">
    <p class="events-empty__text">Сейчас нет запланированных мероприятий. Следите за афишей в соцсетях или запишитесь на экскурсию.</p>
    <button type="button" class="btn btn-primary" data-booking-open data-tour-kind="self">Записаться на экскурсию</button>
</div>
